* {
  margin: 0;
  padding: 0;
}
body {
  background: #1b4965;
}
/*Dashboard Style*/
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0.7rem;
  color: white;
  font-family: Kanit;
}
.navbar h1 {
  font-family: Fira Code;
}
.links-icons {
  display: flex;
  align-items: center;
}
.productName {
  display: flex;
  align-items: center;
  gap: 10px;
}
.productName img {
  height: 2.75rem;
}

.links a {
  text-decoration: none;
  color: white;
}
.links a:hover {
  text-decoration: underline;
  text-decoration-thickness: ;
}
.links {
  display: flex;
  gap: 1rem;
}
.links-icons {
  display: flex;
  gap: 2rem;
}
.icons img {
  height: 4rem;
}
#horizontal {
  color: white;
  font-weight: bold;
}
#myProfile {
  height: 4rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main {
  font-family: Open Sans;
}
.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  gap: 4rem;
  color: white;
  margin-bottom: 2rem;
}
.progress h1 {
  font-weight: normal;
}
.pic-name {
  border: 1px solid white;
  width: 40rem;
  background: #6e7e85;
  color: white;
  border-radius: 15px;
}
.profile-content {
  padding: 1.5rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 40rem;
}

.details {
  padding: 2rem;
  display: flex;
  gap: 2rem;
}
.logo-des {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}
.logo-des p {
  font-weight: bold;
}
.pic-word {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.logo-des img {
  height: 1.5rem;
}
#secondhorizontal {
  color: white;
  width: 50%;
  margin: 0% auto;
}
.rating .ratings {
  font-weight: normal;
}
.margin-control {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.margin-control h1 {
  font-family: Fira Code;
  font-weight: bold;
}
/*End of Dashboard Style*/

/*Task Menu Style*/
.tasktable {
  font-family: JetBrains Mono;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.adduser {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid white;
  width: 25%;
  padding: 1rem;
  background: #6e7e85;
  font-weight: bold;
  border-radius: 1.2rem;
}
.adduser img {
  height: 2rem;
}
