* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

header,
main h2 {
  font-family: Jaro;
  text-align: center;
}
header {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.links {
  display: flex;
  flex-direction: column;
  font-family: Fira Code;
  width: 15rem;
  padding-top: 1rem;

  height: 20rem;
  justify-content: space-around;
}
.links-head h2 {
  text-align: center;
  font-family: Jaro;
}
.links-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  padding-top: 2rem;
}
main {
  gap: 3rem;
  font-family: Nova Mono;
  width: 100%;
  display: flex;
  justify-content: center;
}

.links a {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 1rem;
}
.links a:hover {
  background-color: black;
  color: white;
  border-radius: 20px;
}
.control-navMain {
  display: flex;
}
#chart {
  height: 30rem;
  width: 50rem;
}
