* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto Mono;
  background: #93a8ac;
}
.navigations {
  display: flex;
  flex-direction: column;
  background: #4c5760;
  width: 12rem;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}
header {
  display: flex;
  justify-content: center;
}
.navigations a,
.navigations h2 {
  width: 10rem;
  text-decoration: none;
  color: white;
}
.navigations h2 {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  align-items: flex-start;
}
.wrapper {
  display: flex;
}
main {
  display: flex;
  width: 100%;
  justify-content: center;
}
header h1 {
  text-align: center;
}
