* {
  margin: 0;
  padding: 0;
}

.links-product {
  display: flex;
  justify-content: space-between;

  padding: 2rem;
  color: white;
  align-items: center;
  background: #0d0a0b;
}
.links-product header {
  font-family: Fira Code;
}
.links {
  display: flex;
  gap: 3rem;
}
.links a {
  color: white;
  text-decoration: none;
  font-family: JetBrains Mono;
  /* *Create gap to text and underline*/
  text-underline-offset: 12px;
}
.links a:hover {
  text-decoration: underline;
}
.user-profile img {
  height: 4rem;
}
.user-profile {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.search-bar input {
  background: none;
  border: none;
  color: white;
  width: 100%;
  /* *Removes the outline*/
  outline: none;
  font-family: JetBrains Mono;
}
.search-bar {
  border: 1px solid white;
  padding: 0.5rem;
  width: 300px;
  display: flex;
  gap: 1rem;
}
.search-bar img {
  height: 1.2rem;
}
#dropdown-trigger img {
  height: 3rem;
}

#dropdown-trigger img:hover {
  opacity: 0.3;
}
#dropdown-trigger {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#dropdowns a {
  text-decoration: none;
  color: white;
  font-family: JetBrains Mono;
}
.content {
  display: flex;
  justify-content: center;
  font-family: Fira Code;
  margin-top: 1rem;
}
.content header {
  margin-top: 1rem;
}
.heading {
  display: flex;
  gap: 1rem;
}

.heading h2 {
  font-size: 2rem;
}
.card {
  display: flex;
  height: 30vh;
  align-items: center;
  box-shadow: 2px 6px 5px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 5px -1px rgba(0, 0, 0, 0.75);
  width: 50vh;
}
.card img {
  height: 8.5rem;
}
.user-status {
  display: flex;
  gap: 1rem;
}
.wrap-status {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.texts-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}
.texts-status p {
  text-align: right;
}
.table-header {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* From Uiverse.io by barisdogansutcu */
.finance-buttons button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  border: 1px solid black;
}

.finance-buttons button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.finance-buttons button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* From Uiverse.io by mi-series */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eddcd9;
  height: auto;
  width: auto;
  border: 2px solid #264143;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px #e99f4c;
}

.title {
  color: #264143;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #e99f4c;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus,
.btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #e99f4c;
}

.btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  background: #de5499;
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px #e99f4c;
}

.btn:hover {
  opacity: 0.9;
}

.link {
  font-weight: 800;
  color: #264143;
  padding: 5px;
}
