.holder {
  max-width: 25.25rem;
  background: url("../../styles/registration/assets/form-bg-holder.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Fira Code;
  height: 30rem;
  box-shadow: 10px 0px 138px 0px rgba(17, 15, 15, 0.75);
  -webkit-box-shadow: 10px 0px 138px 0px rgba(17, 15, 15, 0.75);
  -moz-box-shadow: 10px 0px 138px 0px rgba(17, 15, 15, 0.75);
}
body {
  background: url("../../styles/registration/assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.holder button {
  width: 90%;
}
.holder a {
  text-decoration: none;
  border-radius: 50px;
}
