body {
  background: url("../../styles/registration/assets/gradientBack.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper h1 {
  font-family: JetBrains Mono;
}
.wrapper {
  max-width: 37.5rem;
  font-family: JetBrains Mono;
}
.wrapper label {
  font-weight: bold;
}
