body {
  background: url("assets/8556620.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.overall {
  margin: 0;
}
.holder {
  max-width: 50%;
  font-family: Parkinsans;
  border: 1px solid rgb(255, 102, 128);
  border-radius: 1rem;
  height: 40rem;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.holder input {
  padding: 0.7rem;
  background-color: rgb(204, 229, 240);
  border: 2px solid rgb(204, 229, 240);
}
.icons img {
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.5rem;
}
.header-icons h1 {
  color: rgb(255, 102, 128);
}
.twobuttons button {
  padding: 0.6rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
}
#btn-1 {
  background-color: rgb(255, 102, 128);
}
#btn-2 {
  border: 2px solid rgb(255, 102, 128);
  background-color: white;
  color: rgb(255, 102, 128);
}
.checks label {
  font-size: 0.9rem;
}
.imp {
  color: rgb(255, 102, 128);
}
.check-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#alert-for-all {
  width: 100%;
}
