body {
  background: rgb(244, 240, 232);
}
.wrapper {
  font-family: Itim;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid black;
  margin-top: 60px;
  min-width: 100px;
  max-width: 800px;
  height: 500px;
}
.picture-holder {
  background: transparent;
  min-width: 400px;
  margin-right: 0;
}
.form-holder {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo-title {
  display: flex;
}
.form-holder h1 {
  color: black;
  font-weight: bold;
}
.form-holder h3 {
  color: black;
}
.picture-holder img {
  height: 25rem;
}
.product-icon img {
  height: 3rem;
}
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
.input-box input {
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 3px;
  font-size: 1rem;
}
.input-box input::placeholder {
  font-weight: bold;
}
.btn-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}
.logo img {
  height: 20px;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.links a {
  text-decoration: none;
  color: black;
}
.links a:hover {
  text-decoration: underline;
}
.btn-register button {
  width: 70%;
  border: 2px solid black;
  border-radius: 15px;
}
.btn-register button:hover {
  background-color: black;
  color: white;
}
