body {
  background: rgb(244, 240, 232);
}
.logo {
  font-family: Itim;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  margin-left: 4rem;
  justify-content: space-between;
  margin: 0;
  margin-left: 1rem;
}
.site-logo {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.logo h1 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Itim;
}
.img img {
  height: 3rem;
}
.image img {
  height: 30rem;
}
.navigations {
  margin: 0;
  max-width: 33.25rem;
  min-width: 18.75rem;
}
.navigations ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
}
.navigations li {
  list-style-type: none;
  font-size: 1.1rem;
}
.navigations a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 15px;
}
.navigations a:hover {
  background-color: black;
  color: white;
  font-weight: normal;
}
.main-content {
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content h2 {
  font-family: Itim;
  font-weight: bold;
}
.statement-holder {
  min-width: 20rem;
  max-width: 31.25rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.statement-holder p {
  font-family: Itim;
  text-align: left;
  font-size: 1.25rem;
}
.statement-holder a {
  text-decoration: none;
}
.statement-holder button {
  border-radius: 15px;
  border: 2px solid black;
  background: transparent;
  border-radius: 15px;
  font-family: Itim;
  font-weight: bold;
}
.statement-holder button:hover {
  background-color: black;
  color: white;
}
