* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

header,
main h2 {
  font-family: Jaro;
}
header {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  align-items: center;
  gap: 10px;
}
.links {
  display: flex;
  font-family: Fira Code;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: white;
  background-color: skyblue;
  border-radius: 15px;
}

main {
  gap: 3rem;
  font-family: Nova Mono;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 1rem;
  font-weight: bold;
}
.links a:hover {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.availableTask {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
}
#tsk-m {
  font-family: Fira Code;
  margin-top: 1rem;
}

.task {
  padding: 2rem;
  border: 2px solid black;
  width: 20rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 1.3rem;
  gap: 1rem;
  font-weight: bold;
}
.task:hover {
  background-color: yellow;
  cursor: pointer;
}
.commands {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}
.task img {
  height: 28px;
}

#content {
  height: 30rem;
  width: 50rem;
  display: flex;
  justify-content: center;
}
.overall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-links {
  display: flex;
  justify-content: space-between;
}
.header img {
  height: 40px;
}
.icon-link img {
  height: 30px;
}
.icon-link {
  display: flex;
  align-items: center;
}
.users h1 {
  font-family: Poppins;
}
.users table {
  font-family: Poppins;
}
.user-data {
  border: 2px solid black;
  border-collapse: collapse;
  width: 75rem;
  border-spacing: 20px;
}
.user-data th,
tr,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}
.users header {
  margin-bottom: 1.3rem;
}
.user-progress h1 {
  font-family: Poppins;
  margin-top: 4rem;
}
.user-progress input {
  width: 20rem;
  height: 2rem;
  font-size: 1.3rem;
  padding: 1.2rem;
  border: 2px solid black;
  border-radius: 15px;
}
.user-progress button {
  padding: 0.4rem;
  width: 9rem;
  font-family: Fira Code;
  font-size: 1.3rem;
  border-radius: 15px;
  border: 2px solid black;
  font-weight: bold;
}
.user-progress button:hover {
  background-color: black;
  color: white;
}
.search-click {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
